In [1]:
t =  [1,2,3,4,5]

In [2]:
s = {1,2,3,4,56,5,5}

In [3]:
s

{1, 2, 3, 4, 5, 56}

In [4]:
s.add(9)

In [5]:
s

{1, 2, 3, 4, 5, 9, 56}

In [6]:
s.update((8,7))

In [7]:
s.discard((56))

In [8]:
s.pop()

1

In [9]:
s.clear()

In [10]:
s

set()

In [11]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [12]:
#Union--> |
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
#Intersaction--> &
s1&s2

{4, 5}

In [14]:
#Set differnce
s1-s2

{1, 2, 3}

In [15]:
s2-s1

{6, 7, 8}

In [16]:
#Symetrict diff--> ^
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [17]:
3 in  s1

True

In [18]:
len(s1)

5

In [19]:
sum(s2)

30

In [20]:
min(s2)

4

In [21]:
a = sorted(s1,reverse=True)
a

[5, 4, 3, 2, 1]

In [22]:
type(a)

list

In [23]:
s1,s2

({1, 2, 3, 4, 5}, {4, 5, 6, 7, 8})

In [24]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
s1

{1, 2, 3, 4, 5}

In [26]:
s1.intersection(s2)

{4, 5}

In [27]:
s1.intersection_update(s2)

In [28]:
s1

{4, 5}

In [29]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [30]:
s1.difference(s2)

{1, 2, 3}

In [31]:
s1.symmetric_difference_update(s2)

In [32]:
s1

{1, 2, 3, 6, 7, 8}

In [33]:
s2={2,6,8}

In [34]:
s1.issuperset(s2)

True

In [35]:
s2.issubset(s1)

True

In [36]:
s3={11,12,14}

In [37]:
s1.isdisjoint(s3)

True

In [38]:
s1.isdisjoint(s2)

False

In [39]:
fs1 = frozenset([1,2,3,4,5,6,7,5,6,4])

In [40]:
fs1

frozenset({1, 2, 3, 4, 5, 6, 7})

In [41]:
fs2 = frozenset([1,2,3,frozenset([3,4])])

In [42]:
fs2

frozenset({1, 2, 3, frozenset({3, 4})})

##DICT

In [43]:
[[i * j for i in range(1,4)], for j in range(1,4)]

SyntaxError: did you forget parentheses around the comprehension target? (2535193438.py, line 1)

In [4]:
l = [1,2,3,4,5]

In [5]:
for i in l:
    print(i)

1
2
3
4
5

In [8]:
for i in (0,len(l)):
    print(l[i])

1

IndexError: list index out of range

In [10]:
day = {
    "Mon" : 17 , "Tue" : 16 , "Wed" : 21 , "Thurs" : 23 , "Fri" : 22 , "Sat" : 14 , "Sun" : 10
}

In [11]:
print(day)

{'Mon': 17, 'Tue': 16, 'Wed': 21, 'Thurs': 23, 'Fri': 22, 'Sat': 14, 'Sun': 10}

# A fuction is a block of code which on;ly run when it is called.
# it is used when we have to use a piece of code multi. items.

In [3]:
def f(y):
    x+=1
    print(x)
x=5
f(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

## Lamda Fuction

In [11]:
a = lambda x : "even" if x%2==0 else "odd"

SyntaxError: invalid syntax (3722107838.py, line 1)

In [5]:
l = [1,2,3,4,5]
a(l)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [6]:
def transfer(F,L):
    out = []
    l = [1,2,3,4,5]
    
    return out

In [8]:
l = [1.2.3.4]
transfer(a,l)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1715711313.py, line 1)

In [1]:
f = open("sample.txt","w")

In [2]:
f.write("hello world")

11

In [50]:
f.close()

In [51]:
f = open("sample.txt","w")
f.write("Hello pyhton")
f.close()

In [ ]:
# ATM Simulation with OOP
class ATM:
    def __init__(self, balance=5000):
        self.balance = balance

    def check_balance(self):
        print(f"\nYour current balance is: ₹{self.balance}")

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"₹{amount} has been deposited successfully.")
            print(f"Updated balance: ₹{self.balance}")
        else:
            print("Invalid amount. Please try again.")

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"₹{amount} has been withdrawn successfully.")
            print(f"Updated balance: ₹{self.balance}")
        elif amount > self.balance:
            print("Insufficient balance.")
        else:
            print("Invalid amount. Please try again.")

    def display_menu(self):
        print("\nChoose an option:")
        print("1. Check Balance")
        print("2. Deposit Money")
        print("3. Withdraw Money")
        print("4. Exit")

# Main function to run the ATM program
def main():
    print("Welcome to the ATM!")
    atm = ATM()  # Create an ATM object

    while True:
        atm.display_menu()
        choice = input("Enter your choice (1-4): ")

        if choice == '1':
            atm.check_balance()
        elif choice == '2':
            amount = float(input("Enter amount to deposit: ₹"))
            atm.deposit(amount)
        elif choice == '3':
            amount = float(input("Enter amount to withdraw: ₹"))
            atm.withdraw(amount)
        elif choice == '4':
            print("Thank you for using the ATM. Goodbye!")
            break
        else:
            print("Invalid choice. Please try again.")

# Run the program
if __name__ == "__main__":
    main()

In [2]:
# Variable == {a = 10  
# b = 3.14  
# c = "Hello, World!"  
# d = [1, 2, 3, 4]  
# e = (5, 6, 7)  
# f = {8, 9, 10}  
# g = {"name": "Alice", "age": 25}  
# h = True }

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1428976738.py, line 1)

In [3]:
a = b = 14

In [4]:
print(a,b)

14 14

In [5]:
a,b,c = 1,2.3,"hi"

In [6]:
print(a,b,c)

1 2.3 hi

In [7]:
# print with end whitespace
print('Good Morning!', end= ' ')

print('It is rainy today')

Good Morning! It is rainy today

In [11]:
print("mornoing", end="   ")
print("kle")

mornoing   kle

In [13]:
print('New Year', 2023, 'See you soon!', sep= ' ? ')

New Year ? 2023 ? See you soon!

In [14]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [18]:
x = 5
y = 10

print(f'The value of x is {x} and y is {y}')

The value of x is 5 and y is 10

NameError: name 'self' is not defined

In [12]:
n = 'dipak'

In [14]:
print('d'in n)

True

In [15]:
i = 5

In [17]:
i +=1

In [22]:
age = int(input("enter age : "))

if age >= 18:
    print("You are an adult")
elif age < 18 and age > 3:
    print("you are in schol")
else:
    print("you are child")

you are in schol

In [28]:
i = 5
while i >= 0:
    print(i * "*")
    i -= 1

*****
****
***
**
*

In [29]:
for i in range (5):
    print(i)

0
1
2
3
4

In [39]:
l = [20,38,56]
for i in l :
    print(i)

20
38
56

In [47]:
i = 0
while i < len(l):
    print(l[i])
    i +=1

98
20
38
56
99
99

In [48]:
s = ["ram","kan","dip","neh"]

In [56]:
for i in s:
    if i == "dip":
        continue
    print(i)

ram
kan
neh

In [58]:
def print_sum(f,s):
    print(f + s)
print_sum(20,2)

22

In [3]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Example usage
number = 29  # Replace with any number to check
print(f"{number} is prime: {is_prime(number)}")

29 is prime: True

In [6]:
for i in range(2,51):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [7]:
for i in range(2,51):
    for j in range(2,i//2+1):
        if i%j==0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47