### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

## SERIES

In [1]:
import numpy as np
import pandas as pd

In [2]:
country = ('India', 'pakistan','China', 'Sri Lanka', "afghanistan")

In [3]:
countries = pd.Series(country)

In [4]:
countries

0          India
1       pakistan
2          China
3      Sri Lanka
4    afghanistan
dtype: object

In [5]:
runs = [13,24,52,96,78,53,62,74]

In [6]:
runs_ser = pd.Series(runs)

In [7]:
runs_ser

0    13
1    24
2    52
3    96
4    78
5    53
6    62
7    74
dtype: int64

In [8]:
marks = [67,57,89,100]
sub = ['maths','eng','science','hindi']

In [21]:
mroks= pd.Series(marks,index=sub,name = 'harshal na marks')

In [22]:
mroks

maths       67
eng         57
science     89
hindi      100
Name: harshal na marks, dtype: int64

In [15]:
mrks = {
    'maths' :97,
    'eng':84,
    'science':58,
    'hindi':90,
    'comp':80}

In [16]:
marks_series = pd.Series(mrks)

In [18]:
marks_series

maths      97
eng        84
science    58
hindi      90
comp       80
dtype: int64

In [19]:
marks_series.size

5

In [20]:
marks_series.name

In [24]:
mroks.name

'harshal na marks'

In [26]:
pd.Series([1,1,2,52,8,3,2,4,1]).is_unique

False

In [27]:
countries.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
marks_series.index

Index(['maths', 'eng', 'science', 'hindi', 'comp'], dtype='object')

In [29]:
subs = pd.read_csv('subs.csv')

In [30]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [31]:
type(countries)

pandas.core.series.Series

In [32]:
type(subs)

pandas.core.frame.DataFrame

In [33]:
subs=subs.squeeze()

In [34]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [35]:
vk = pd.read_csv('kohli_ipl.csv',index_col='match_no')

In [37]:
vk=vk.squeeze()

In [38]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [42]:
movies = pd.read_csv('bollywood.csv',index_col = 'movie')

In [44]:
movies=movies.squeeze()

In [45]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [46]:
movies.head()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

In [47]:
movies.head(10)

movie
Uri: The Surgical Strike                       Vicky Kaushal
Battalion 609                                    Vicky Ahuja
The Accidental Prime Minister (film)             Anupam Kher
Why Cheat India                                Emraan Hashmi
Evening Shadows                             Mona Ambegaonkar
Soni (film)                             Geetika Vidya Ohlyan
Fraud Saiyaan                                   Arshad Warsi
Bombairiya                                      Radhika Apte
Manikarnika: The Queen of Jhansi              Kangana Ranaut
Thackeray (film)                         Nawazuddin Siddiqui
Name: lead, dtype: object

In [48]:
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [49]:
subs.head(20)

0     48
1     57
2     40
3     43
4     44
5     46
6     33
7     40
8     44
9     74
10    49
11    56
12    49
13    42
14    39
15    44
16    54
17    51
18    40
19    37
Name: Subscribers gained, dtype: int64

In [50]:
movies.tail()

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [52]:
movies.tail(10)

movie
Raaz (2002 film)                    Dino Morea
Zameen (2003 film)                  Ajay Devgn
Waisa Bhi Hota Hai Part II        Arshad Warsi
Devdas (2002 Hindi film)        Shah Rukh Khan
Kaante                        Amitabh Bachchan
Hum Tumhare Hain Sanam          Shah Rukh Khan
Aankhen (2002 film)           Amitabh Bachchan
Saathiya (film)                   Vivek Oberoi
Company (film)                      Ajay Devgn
Awara Paagal Deewana              Akshay Kumar
Name: lead, dtype: object

In [63]:
vk.sample()

match_no
201    12
Name: runs, dtype: int64

In [77]:
movies.sample(10)

movie
Tevar                          Arjun Kapoor
Ramaa: The Saviour               Sahil Khan
Charas (2004 film)          Jimmy Sheirgill
Apne                             Dharmendra
Phir Milenge                    Salman Khan
Badla (2019 film)          Amitabh Bachchan
Hunterrr                    Gulshan Devaiah
Ramprasad Ki Tehrvi        Naseeruddin Shah
Sukhmani: Hope for Life         Gurdas Maan
Rang Rasiya                   Randeep Hooda
Name: lead, dtype: object

In [78]:
movies.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [79]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [80]:
vk.sort_values()

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [95]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
120    100
164    100
      ...
93       0
130      0
206      0
207      0
211      0
Name: runs, Length: 215, dtype: int64

In [92]:
vk.sort_values(ascending=False).head(1).values[0]

np.int64(113)

vk

In [96]:
vk.sort_values(ascending=False, inplace=True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

In [97]:
vk.sort_index(ascending=False,inplace=True)

In [98]:
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

In [99]:
movies.sort_values(inplace=True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

In [100]:
vk.count()

np.int64(215)

In [101]:
vk.sum()

np.int64(6634)

In [102]:
vk.product()

np.int64(0)

In [103]:
subs.mean()

np.float64(135.64383561643837)

In [104]:
vk.median()

np.float64(24.0)

In [105]:
vk.mode()

0    0
Name: runs, dtype: int64

In [107]:
movies.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [108]:
subs.std()

np.float64(62.6750230372527)

In [109]:
subs.var()

np.float64(3928.1585127201565)